
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/*Parallax section*/
#section-1 {
    z-index: 1;
    color: #fff;
    height: 90vh;
}
#section-1 .row {
    position: fixed;
}
/*Parallax background*/
#section-1 .parallax-layer-back {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Section with dummy content*/
#section-2 {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 100%;
}
.full-bg-img{
    background: rgba(100,100,100,0.6);
    transition: background 0.6s;
}